@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 206, 146);
    border: none;
    border-radius: 10px;
    font: small-caption;
    padding: 20px;
    box-shadow: 1px 1px 2px gray;
}

form input{
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    margin-top: 14px;
    margin-bottom: 8px;
}

button {
    width: 325px;
    color: white;
    margin-top: 10px;
    padding: 13px;
    border: none;
    border-radius: 4px;
    background-color: rgb(17, 19, 54);
}

img {
    width: 300px;
    height: 400px;
}

P {
    font-size: large;
    margin-top: 25px;
}

ul {
    margin-top: 30px;
}

.list p {
    font-size: small;
}

.first {
    width: 300px;
}

.fa-solid {
    margin-right: 7px;
    color: rgb(51, 126, 101);
}

.imgs{
    margin-left: 60px;
}